@helper LinkButton(string url,string id,string color,string css,string icon,string text) 
    { 
      <a href="@url" id="@id" name="@id" class="btn btn-@color @css"><span class="glypicon glypicon-@icon"></span>@text</a>
    }
